.custom-curtain-options {
  margin-top: 20px;
}

.custom-curtain-options label {
  display: inline;
  font-weight: bold;
  margin-bottom: 8px;
}

.custom-curtain-options select,
.custom-curtain-options textarea,
.custom-curtain-options input[type='number'],
.custom-curtain-options input[type='text'] {
  width: 50%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #dedede;
}

#curtain_price_display {
  font-size: 1.2em;
  color: #333;
}

#curtain_options {
  display: none;
}
.curtain-custom-size-fields  { display: grid;
  grid-template-columns: 1fr 1fr; }
.curtain-custom-size-fields .inline-inputs { display: flex;}
.hint {
  font-size: 14px;
  color: #333;
}
